/* custom_footer.css: Styling for the custom footer
   THIS FILE IS EDITABLE!
   This file is from Chemlogic, a logic programming computer chemistry system
   (C) Copyright 2012-2015 Nicholas Paun */

#footlist li, #footlist img 
{
    width: 10em;
}

#footlist 
{
    margin-left: 0 !important;
    padding: 0;
}

#footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
}

#footlist a
 {
	 font-size: 150%;
	 text-decoration: none;
	 color: darkblue;
 }

