/* modern.css: A simple and hopefully elegant stylesheet based around the Computer Modern font from TeX
   This file is from Chemlogic, a logic programming computer chemistry system
   (C) Copyright 2012-2015 Nicholas Paun */



@font-face
 {
	font-family: "Computer Modern";
	src: url('computer-modern.otf');
 }

*
 {
	font-family: "Computer Modern";
 }

select, option, input
 {
	font-family: sans-serif !important;
 }



#menu
 {
	display: inline-block;
	list-style-type: none;
	width: 60%;
 }

#menu li
 {
	display: inline;
	margin: 1%;
 }

#menu li h1
 {
	margin-left: -1.25em;
	color: white;
	display: inline;
 }

#menu li a, #menu li span
 {
	font-size: 150%;
	color: white;
	text-decoration: none;
 }

#content
 {
	margin: auto;
	width: 75%;
	text-align: center;
 }

#feature
 {
	font-size: 300%;
 }

#solution, #results
 {
	font-size: 200%;
 }

#top
 {
	background-color: darkgreen;
	margin-bottom: 10%;
 }

body
 {
	margin: 0;
 }

.todo
 {
	opacity: 0.4;
 }


/* Error Handling */

.failed
 {
	color: red;
 }

.error-token
 {
	 background-color: red;
	 color: white;
	 font-weight: bold;
 }

.error-message
 {
	 text-align: left;
	 font-size: 85%;
 }

.error-message pre 
 {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
     }

.errcode
 {
	 color: red;
 }

 .hidden
 {
 visibility: hidden;
 }

#results span 
{
margin-left: 5%;
}
